p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
    margin-right: 10px;
    margin-left: 15px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.nav-icon {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 5%;
    z-index: 100;
}

.nav-icon i {
    color: white;
    font-size: 1.5em;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
    position: relative;
    display: inline-block;
}

.nav-menu li a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s;
}

.nav-menu li a:hover::after {
    width: 100%;
    background-color: #f8b92a;
}

.section {
    padding-top: 70px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: auto;
    margin-bottom: 10px;
}

.profile h1 {
    font-size: 3em;
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
}

.profile img {
    width: 12em;
    height: 12em;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
}

.profile .profile-picture {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.about-us h2 {
    margin-right: 10px;
    margin-left: 15px;
    color: #1C539F;
    font-size: 40px;
    text-align: center;
    text-underline-offset: 5px;
}

.about-us h3 {
    font-size: 30px;

.work .work-experience.inactive{
    display: none;
}

.work .work-experience.active {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto 1fr;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    background-color: #dbdfe7;
    column-gap: 10px;
}

.work .work-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.work .work-selector-button {
    border: none;
    font-size: 1.5em;
    padding: .25em .25em .25em .25em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    border-radius: 15%;
}

.work .work-selector-button.active {
    background-color: #1C539F;
    color: #f5f5f9;
}

.work .work-selector-button.inactive {
    background-color: #f5f5f9;
    color: #1C539F;
}

.work h2 {
    color: #1C539F;
    font-size: 2.5em;
    text-align: center;
    text-underline-offset: 0.15em;
}

.work h3 {
    margin: 0px 0px 0px 0px;
    font-size: 1.875em;
}

.work h4 {
    font-size: 1.3em;
    margin: 0px 0px 3px 0px;
}

.work img {
    grid-column: 1;
    grid-row: 1 / 5;
    object-fit: contain;
    width: 15em;
    height: auto;
    justify-self: center;
    align-self: start;
}

.work .position {
    grid-column: 2;
    grid-row: 1;
}

.work .company {
    grid-column: 2;
    grid-row: 2;
}
.work .dates {
    grid-column: 2;
    grid-row: 3;
}
.work .description {
    grid-column: 2;
    grid-row: 4;
}

.map-container {
    width: 90%;
    height: auto;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.map-container h2 {
    font-size: 2em;
    font-weight: 700;
    color: #2b2b2b;
    margin-bottom: 20px;
}

.map-container p {
    font-size: 1.5em;
    font-weight: 400;
    color: #2b2b2b;
}

.map-container .map-text {
    width: 20%;
    margin-right: 1em;
}

.map-container .map-text .color-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.map-container .map-text .color-boxes .color-box-container{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.map-container .map-text .color-boxes .color-box-container .color-box {
    width: 0.5em;
    height: 0.5em;
    background-color: var(--bg-color);
    margin-right: 10px;
    border-radius: 50%;
}

.map-container .map {
    height: 40em;
    width: 80%;
}
.education-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.education-section .timeline-content {
    background: white;
    padding: 2rem;
    border-radius: 15px;
}

.education-section .timeline-content .timeline {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
    display: none;
}

.education-section .timeline-content .timeline.active {
    display: block;   
}

.education-section ul, li {
    list-style: none;
    padding: 0;
}

.education-section li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #1d539f;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;

    &:last-child {
        padding-bottom: 0;
    }

    &:before {
        content: '';
        width: 1em;
        height: 1em;
        background: white;
        border: 1px solid #1d539f;
        box-shadow: 3px 3px 0px #96b4df;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 0px;
    }
}

.education-section .timeline-content .timeline-item .timeline-date{
    color: #1d539f;
    font-weight: 500;
}

.education-section .timeline-content .timeline-item .timeline-education h3 {
    color: #2b2b2b;
    font-weight: 500;
}

.education-section .timeline-content .timeline-item .timeline-education p {
    line-height: 1.5;
    color: #555;
    font-weight: 300;
}

.education-section .member-tabs .tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #f5f5f9;
    color: #1d539f;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
}
  
.education-section .member-tabs .tab-button.active {
    background-color: #1d539f;
    color: #f5f5f9;
}
  
.education-section .member-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.hobby-container {
    padding-bottom: 75px;
    padding-left: 75px;
}

.member-hobby-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.hobby {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.hobby img {
    height: 300px;
    width: 350px;
    object-fit: cover;
}


/* Media Queries */
@media (max-width: 920px) {
    .nav-content nav {
        text-align: center;
    }
    .nav-content nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100vh;
        background-color: #1d539f;
        transition: right 0.5s ease;
    }
    .nav-content nav ul li {
        margin: 1em 0;
        padding: 0 1.5em 0 1.5em;
    }
    .nav-icon {
        display: flex;
    }
}
@media (max-width: 768px) {
    .profile h1 {
        font-size: 2em;
    }
    .profile-picture img {
        width: 170px;
        height: 170px;
    }
    .education-section h2 {
        font-size: 1.5em;
    }
    .education-section .timeline-content .timeline-item .timeline-education h3 {
        font-size: 1em;
    }
    .education-section .timeline-content .timeline-item .timeline-education p {
        font-size: 0.8em;
    }
    .map-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .map-container h2 {
        font-size: 1.5em;
    }
    .map-container p {
        font-size: 1em;
    }
    .map-container .map-text {
        width: 100%;
        margin-right: 0px;
    }
    .map-container .map-text .color-boxes{
        flex-direction: row;
    }
    .map-container .map {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .profile h1 {
        font-size: 1.5em;
    }
    .profile-picture img {
        width: 80px;
        height: 80px;
    }
    .education-section h2 {
        font-size: 1em;
    }
    .education-section .timeline-content .timeline-item .timeline-education h3 {
        font-size: 0.8em;
    }
    .education-section .timeline-content .timeline-item .timeline-education p {
        font-size: 0.7em;
    }
    .map-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .map-container h2 {
        font-size: 1em;
    }
    .map-container p {
        font-size: 0.8em;
    }
    .map-container .map-text {
        width: 100%;
        margin-right: 0px;
    }
    .map-container .map-text .color-boxes{
        flex-direction: row;
    }
    .map-container .map {
        width: 100%;
        height: 30em;
    }
}
