<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <!-- Miguel's Profile Picture -->
            <img src="../static/img/IMG_0201.jpg" alt="Image 2">
            <!-- Add your profile picture here -->
            <img src="./static/img/avatar.jpg" alt="Image 3">
            <!-- Add your profile picture here -->
            <img src="./static/img/avatar.jpg" alt="Image 4">
        </div>
        <h1>{{ title }}</h1>
    </div>

    <h1><u>About Us</u></h1>
    <h2>Aerin Brown</h2>
    <p>Aerin Brown is an incoming second-year Software Engineering student at McGill University, and attends as a 
        Schulich Leader Scholar. She began programming at twelve years old to follow her blossoming passion 
        in robotics, artificial intelligence, and game design. Now, she is part of the McGill Robotics team and works on
        inverse kinematics and pathfinding algorithms for their Mars rover project. She also is an active member of
        the McGill Game Development club and the McGill Artificial Intelligence Society. She has participated in two 
        hackathons: MAISHacks, in which her team won Best Beginner Project, and McGameJam. In the future, she hopes
        to continue exploring various areas of Software Engineering through internships and freelance projects.</p>
    <hr>
    <h2>Add Your Name Here</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum orci non sapien rhoncus tincidunt. 
        Mauris eu ligula est. Pellentesque ut mi ornare, lacinia nisi ac, varius mi. Phasellus molestie arcu ac leo 
        tristique, vel ultrices erat commodo. Quisque rhoncus fringilla magna, interdum feugiat est auctor eu. Nulla
         lacinia leo non est finibus suscipit. Maecenas ut placerat neque. Pellentesque sagittis, libero ut 
         scelerisque congue, mauris sem bibendum tortor, id fermentum risus leo ac magna. Sed et nulla non dui 
         interdum ultrices ut in nunc. Suspendisse potenti. Curabitur quam tortor, posuere sit amet eros eget, 
         scelerisque consectetur sapien.</p>
    <hr>
    <h2>Add Your Name Here</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum orci non sapien rhoncus tincidunt. 
        Mauris eu ligula est. Pellentesque ut mi ornare, lacinia nisi ac, varius mi. Phasellus molestie arcu ac leo 
        tristique, vel ultrices erat commodo. Quisque rhoncus fringilla magna, interdum feugiat est auctor eu. Nulla
         lacinia leo non est finibus suscipit. Maecenas ut placerat neque. Pellentesque sagittis, libero ut 
         scelerisque congue, mauris sem bibendum tortor, id fermentum risus leo ac magna. Sed et nulla non dui 
         interdum ultrices ut in nunc. Suspendisse potenti. Curabitur quam tortor, posuere sit amet eros eget, 
         scelerisque consectetur sapien.</p>     
</body>
</html>