<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <!-- Miguel's Profile Picture -->
            <img src="../static/img/IMG_0201.jpg" alt="Image 2">
            <!-- Add your profile picture here -->
            <img src="./static/img/avatar.jpg" alt="Image 3">
            <!-- Add your profile picture here -->
            <img src="./static/img/avatar.jpg" alt="Image 4">
        </div>
        <h1>{{ title }}</h1>
    </div>

    <div class="education-section">
        <h2>Education</h2>
        <div class="timeline-content">
            <ul class="timeline">
                <li class="timeline-item">
                    <div class="timeline-date">23/22/1920</div>
                    <div class="timeline-education">
                        <h3>B. S. Digital Systems and Robotics</h3>
                        <p>Universidad de Guanajuato</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-date">23/22/1920</div>
                    <div class="timeline-education">
                        <h3>Degree</h3>
                        <p>Institution</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-date">23/22/1920</div>
                    <div class="timeline-education">
                        <h3>Degree</h3>
                        <p>Institution</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>